@model IEnumerable<patient_careDTO>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="~/patient_care/GetByID">查询</a>
    <table>
        <thead>

        </thead>
        <tbody>
            @foreach (var p in Model)
            {

            }
        </tbody>
    </table>
    
</body>
</html>
