
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetByID</title>
</head>
<body>

    <form action="~/patient/GetByID" method="post">
        ID<input type="text" name="patient_ID" />
        <input type="submit" value="查询" />
    </form>

</body>
</html>
